body {
  margin: 0;
}

#trackMetaDataDiv {
  padding: 1% 0;
  background-color: #449DD1;
}

#leftMetaDataDiv {
  width: 50%;
  float: left;
  background-color: inherit;
}

#rightMetaDataDiv {
  width: 50%;
  float: right;
  background-color: inherit;
}

#totalTimeDiv {
  margin: 0 1%;
}

#timeDividerDiv {
  margin-left: 1%;
}

.metadataColor {
  margin: 0 !important;
  color: #E7ECEF !important;
}

.outerHeaderContent {
  height: 160px;
}

.innerHeaderContentCenter {
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

.innerHeaderContentBottom {
  position: relative;
  float: right;
  top: 90%;
  -webkit-transform: translateY(-90%);
  -ms-transform: translateY(-90%);
  transform: translateY(-90%);
}

#albumImage {
  margin: 0 1%;
  float: left;
  border: 2.5px solid #192BC2;
}

#audioVisualizerCanvas {
  background-color: #003049;
  padding-left: 30vw;
  width: 100%;
}

.audioControls {
  text-align: center;
}

#audioBar {
  width: 100%;
  margin-top: -4px;
}

#audioSlider {
  position: absolute;
  margin: 0 auto;
  height: 2px;
  width: 100%;
  background: #555;
  border-radius: 15px;
}

#audioSlider .ui-slider-range-min {
  height: 2px;
  width: 300px;
  position: absolute;
  background: #2ecc71;
  border: none;
  border-radius: 10px;
  outline: none;
}

#audioSlider .ui-slider-handle {
  width: 10px;
  height: 10px;
  border-radius: 10px;
  background: #5BC0BE;
  position: absolute;
  margin-top: -4px;
  cursor: pointer;
  outline: none;
}
